* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: hsla(221, 39%, 11%);
    color: hsla(214, 32%, 91%);
}

#navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.list-navbar {
    display: flex;
    list-style: none;
    gap: 20px;
}

li>a {
    text-decoration: none;

    font-weight: 500;
    font-size: 18px;

    cursor: pointer;
    color: hsla(214, 32%, 91%);
}

.list-navbar li :hover {
    color: cyan;
}

/* Bagian Awal Homepage */
#home-container {
    display: flex;
    margin: 150px;
    gap: 0 50px;

    font-size: 20px;
}

.foto-profil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#name {
    font-size: 50px;
    font-weight: 600;
}

/* Bagian Akhir Homepage */

/* Bagian Awal About Page */
#about-container {
    margin: 100px 250px;
}

#about-container div {
    margin-top: 50px;
}

#about-container h1 {
    color: cyan;
}

#about-container p {
    margin-top: 10px;

    font-size: 18px;
}

/* Bagian Akhir About Page */

/* Bagian Awal Skills Page */
#skills-container {
    margin: 100px 250px;
}

#skills-container h1 {
    color: cyan;
}

#skills-container p {
    margin-top: 10px;

    font-size: 18px;
}

#skills-container>ul {
    margin-left: 20px;

    font-size: 18px;
}

/* Bagian Akhir Skills Page */

/* Bagian Awal Blog Page */
#blog-container {
    margin: 100px 250px;
}

#blog-container>div a {
    display: flex;

}

.blog-link {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    text-decoration: none;

    border-bottom: 1px solid rgb(121, 121, 121);
    font-size: 16px;

    color: hsla(214, 32%, 91%);
}

.blog-link:hover {
    background-color: rgba(0, 0, 0, 0.555);
    color: cyan;
}
/* Bagian Akhir Blog Page */

/* Bagian Blog Welcome */
#welcome-container {
    margin: 100px 250px;
}

#welcome-container div {
    margin-top: 50px;
}

#welcome-container h1 {
    color: cyan;
}

#welcome-container p {
    margin-top: 10px;

    font-size: 18px;
}

/* Bagian Blog HTML dan CSS */
#learn-container {
    margin: 100px 250px;
}

#learn-container div {
    margin-top: 50px;
}

#learn-container h1 {
    color: cyan;
}

#learn-container p {
    margin-top: 10px;

    font-size: 18px;
}

#learn-container > p {
    margin-top: 50px;

    font-size: 18px;
}

#learn-container a {
    color: hsla(214, 32%, 91%);
}

#learn-container a:hover {
    color: cyan;
}

/* Bagian Blog PHP */
#learn1-container {
    margin: 100px 250px;
}

#learn1-container div {
    margin-top: 50px;
}

#learn1-container h1 {
    color: cyan;
}

#learn1-container p {
    margin-top: 10px;

    font-size: 18px;
}

.code-input {
    margin: 10px 0;
    width: 623px;
    height: 494px;
}

.code-hasil {
    margin: 10px 0;
    width: 433px;
    height: 566px;
}

#learn1-container a {
    color: hsla(214, 32%, 91%);
}

#learn1-container a:hover {
    color: cyan;
}